<app-tic-tac-toe></app-tic-tac-toe>

<!-- {{numero1}} + {{numero2}} = {{numero1 + numero2}}

<app-texto-bonito [titulo]="this.texto1"></app-texto-bonito>

<app-texto-bonito titulo="this.texto1"></app-texto-bonito>

<app-texto-bonito titulo="Soy un texto bonito 3">
  <h1>Estoy dentro del componente</h1>
</app-texto-bonito>

Numero 1:
<input type="number" [(ngModel)]="numero1">
Numero 2:
<input type="number" [(ngModel)]="numero2">
<!-- = {{ total }}
<hr>
<h1>Resultados</h1>
Suma - {{ sumar() }}
<br>
Resta - {{ restar() }}
<br>
Multiplicacion - {{ multiplicar() }}
<br>
Division - {{ dividir() }}
<!-- <button (click)="sumar()">Sumar</button>

<p>Soy un parrafo</p>

<select [(ngModel)]="select">
  <option value="opcion1">Opción 1</option>
  <option value="opcion2">Opción 2</option>
  <option value="opcion3">Opción 3</option>
  <option value="opcion4">Opción 4</option>
</select>

Seleccionaste: {{ this.select }}
-->
